@model Models.Requests.GetFlightSchedulesRequest

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
<link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet">

<script>

    $.ajax({
        type: "POST",
        dataType: 'JSON',
        url: "@Url.Action("GetCitiesByCountryCode", "BookFlight")",
        success: function (result) {
            console.log(result);

            //To city AJAX CALL
            $('#to_cities').html('');

            var options = '';
            options += '<option value="">--Select City--</option>';
            for (var i = 0; i < result.Cities.length; i++) {


                options += '<option value="' + result.Cities[i].CityCode + '">' + result.Cities[i].Name + '</option>';
            }
            $('#to_cities').append(options);



            //From city AJAX CALL
             $('#from_cities').html('');

            var options = '';
            options += '<option value="">--Select City--</option>';
            for (var i = 0; i < result.Cities.length; i++) {


                options += '<option value="' + result.Cities[i].CityCode + '">' + result.Cities[i].Name + '</option>';
            }
            $('#from_cities').append(options);

        },
        error: function (xhr,status, exception) {
            console.log("Error: " + exception + ", Status: " + status);
        }
    });


     $.ajax({
        type: "POST",
        dataType: 'JSON',
        url: "@Url.Action("GetAirLineByCountryCode", "BookFlight")",
        success: function (response) {
            console.log(response);
            //$('#GetAirLine').html('');
            //var appenddata1 = '<option value="0">--Select Airline--</option>';
            //            for (var x = 0; x < GetAirLine.length; x++) {
            //                appenddata1 += (`
            //                   <option value="${GetAirLine[x]}">${GetAirLine[x]}</option>
            //               `);
            //               }
            //$("#GetAir                Line").append(appenddata1);

              $('#GetAirLine').html('');

            var options = '';
            options += '<option value="">--Select Airline--</option>';
            for (var i = 0; i < response.AirLines.length; i++) {


                options += '<option value="' + response.AirLines[i].Code + '">' + response.AirLines[i].Name + '</option>';
            }
            $('#GetAirLine').append(options);

        },
        error: function (xhr,status, exception) {
            console.log("Error: " + exception + ", Status: " + status);
        }
     });


    //Travel Catogory AJAX Call
      $.ajax({
        type: "POST",
        dataType: 'JSON',
        url: "@Url.Action("GetTravelCategory", "BookFlight")",
        success: function (response) {
            console.log(response);
            $('#GetTravelCat').html('');
            var appenddata1 = '<option value="0">--Select Category--</option>';
                        for (var x = 0; x < response.length; x++) {
                            appenddata1 += (`
                               <option value="${response[x].Code}">${response[x].Name}</option>
                           `);
                           }
              $("#GetTravelCat").append(appenddata1);
             },
        error: function (xhr,status, exception) {
            console.log("Error: " + exception + ", Status: " + status);
        }
     });
</script>




<div id="GetCitiesRow" style="margin-top:50px">
    <label class="col-sm-1 col-md-1">To City</label>
    <div class="col-sm-5 col-md-5" style="color:black">
        <select id="to_cities" name="GetCities" class="form-control">
            <option value="0">--Select City--</option>
        </select>

    </div>
</div>

<div id="GetCitiesRow" style="margin-top:50px">
    <label class="col-sm-1 col-md-1">From City</label>
    <div class="col-sm-5 col-md-5" style="color:black">
        <select id="from_cities" name="GetCities" class="form-control">
            <option value="0">--Select City--</option>
        </select>

    </div>
</div>

<br />
<div id="GetAirLineRow" style="margin-top:70px">
    <label class="col-sm-1 col-md-1">Airline</label>
    <div class="col-sm-5 col-md-5" style="color:black">
        <select id="GetAirLine" name="GetAirLine" class="form-control">
            <option value="0">--Select Airline--</option>
        </select>

    </div>
</div>

<div id="GetTravelCatRow" style="margin-top:70px">
    <label class="col-sm-1 col-md-1">Travel Class</label>
    <div class="col-sm-5 col-md-5" style="color:black">
        <select id="GetTravelCat" name="GetTravelCat" class="form-control">
            <option value="0">--Select Category--</option>
        </select>

    </div>
</div>

<br />


<div style="margin-top:50px">
    <div class="col-sm-6 col-md-6" ">
        <label class="col-sm-1 col-md-1">To Date</label>

        <div class="col-sm-5 col-md-5">
            <input id="To_date" type="text">

            <script>
                var datepicker = new ej.calendars.DatePicker({ width: "255px" });
                datepicker.appendTo('#To_date');
            </script>
        </div>
    </div>

</div>

<br />
<div style="margin-top:100px">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <a href="#" class="btn btn-success btn-lg" id="Find">Find Flight &raquo;</a>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
        <a href="/FRSApplication" class="btn btn-danger btn-lg">GoBack to Main &raquo;</a>
    </div>
</div>

<br />


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">

    $(function () {
    $("#Find").click(function () {

        //var GetFlightSchedulesRequest;
        //GetFlightSchedulesRequest = { AirLineCode: $("#GetAirLine").val, TravelCategoryCode: 'FC', FromCity: $("#from_cities"), ToCity: $("#to_cities"), ReservationDate: $("#From_date") };

        var flightSchedule = {};
        flightSchedule.AirLineCode = $("#GetAirLine").val();
        flightSchedule.TravelCategoryCode = $("#GetTravelCat").val();
        flightSchedule.FromCity = $("#from_cities").val();
        flightSchedule.ToCity = $("#to_cities").val();
         flightSchedule.ReservationDate = $("#To_date").val();

        $.ajax({
            url: "@Url.Action("GetFlightSchedules", "CheckSchedules")",
            type: "POST",
            data: {
                request: flightSchedule,
            },
            success: function (result) {
                console.log(result);
                if (result.loginStatus == true) {
                    console.log(result);
                    var status = "Status Code :";
                    if (result.httpStatus == "200 OK") {
                        $("#StatusCode").css("color", "green");
                    }
                    $("#StatusCode").html(" [" + status + result.httpStatus + "] ");
                    $('.ResponseHolderPreloaderWrapper').hide();
                    $('.ResponseHolder').css('opacity', '1');
                    $('.ResponseHolder').val(result.transaction);
                    APIResponseFormatter();

                }

                else {
                    logout();
                }

            },
            error: function () {
                logout();
            }
        });
    });
});

</script>