
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




<script>
    @*$.ajax({
        type: "POST",
        dataType: 'JSON',
        url: "@Url.Action("GetCitiesByCountryCode", "BookFlight")",
        success: function (GetCities) {
            console.log(GetCities);
            $('#GetCities').html('');
            var appenddata1 = '<option value="0">--Select City--</option>';
                        for (var x = 0; x < GetCities.length; x++) {
                            appenddata1 += (`
                               <option value="${GetCities[x]}">${GetCities[x]}</option>
                           `);
                           }
            $("#GetCities").append(appenddata1);

        },
        error: function (xhr,status, exception) {
            console.log("Error: " + exception + ", Status: " + status);
        }
    });*@


    $.ajax({
        type: "POST",
        dataType: 'JSON',
        url: "@Url.Action("GetCitiesByCountryCode", "BookFlight")",
        success: function (result) {
            console.log(result);
            $('#GetCities').html('');
            var appenddata1 = '<option value="0">--Select City--</option>';
            for (var x = 0; x < result.response.Cities.length; x++) {
                            appenddata1 += (`
                               <option value="${result.response.Cities[x].Id}">${result.response.Cities[x].Name}</option>
                           `);
                           }

            console.log(appenddata1);

            $("#GetCities").append(appenddata1);

        },
        error: function (xhr,status, exception) {
            console.log("Error: " + exception + ", Status: " + status);
        }
    });


     $.ajax({
        type: "POST",
        dataType: 'JSON',
        url: "@Url.Action("GetAirLine", "BookFlight")",
        success: function (GetAirLine) {
            console.log(GetAirLine);
            $('#GetAirLine').html('');
            var appenddata1 = '<option value="0">--Select Airline--</option>';
                        for (var x = 0; x < GetAirLine.length; x++) {
                            appenddata1 += (`
                               <option value="${GetAirLine[x]}">${GetAirLine[x]}</option>
                           `);
                           }
            $("#GetAirLine").append(appenddata1);

        },
        error: function (xhr,status, exception) {
            console.log("Error: " + exception + ", Status: " + status);
        }
    });
</script>


<div id="GetCitiesRow" style="margin-top:50px">
    <label class="col-sm-1">City</label>
    <div class="col-sm-4" style="color:black">
        <select id="GetCities" name="GetCities" class="form-control">
            <option value="0">--Select City--</option>
        </select>

    </div>
</div>



<div id="GetAirLineRow" style="margin-top:50px">
    <label class="col-sm-1">AirLine</label>
    <div class="col-sm-4" style="color:black">
        <select id="GetAirLine" name="GetAirLine" class="form-control">
            <option value="0">--Select Airline--</option>
        </select>

    </div>
</div>



<br />
<br /><br />
<br />



<div class="col-lg-4">
    <a href="/FRSApplication" class="btn btn-success btn-lg">GoBack to Main &raquo;</a>
</div><br />

