@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 style="text-align:center"><u>Flight Reservation System</u></h2><br />
    <p>This app provides a platform to Book Flights, check schedules and check Booking status of your flights</p>

    <div class="col-lg-4">
    <a href="#" class="btn btn-primary btn-lg">Book Flight &raquo;</a>
    </div>


    <div class="col-lg-4">
        <a href="#" class="btn btn-primary btn-lg">Check Schedules &raquo;</a>
    </div>

    <div class="col-lg-4">
    <a href="#" class="btn btn-primary btn-lg">Booking Status &raquo;</a>
    </div><br />

</div>

